@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Boxes and Boxes</h1>
    <p class="lead">Boxes and Boxes is a new box service for Beer and Wine enthusiasts.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our Service</h2>
        <p>
            Boxes and Boxes offers box options for those want the very best in wines and beers, 
            and more uniquely, also offers boxes for all the haters out there. These boxes are full 
            of what we consider to be terrible beers and wines, and will offer hours of complaining 
            and criticizing for the snob in all of us. Because, let's be honest, the only thing better than enjoying
            a wonderful drink is tearing apart an inferior brew or vintage.
        </p>
        
    </div>

</div>